@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<h2>Departman Detay</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel Id</th>
        <th>Personel Ad</th>
        <th>Personel Soyad</th>
        <th>Personel Görsel</th>
        <th>Satışlar</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonelId</td>
                <td>@item.PersonelAd</td>
                <td>@item.PersonelSoyad</td>
                <td>@item.PersonelGorsel</td>
                <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelId" class="btn btn-default" style="background-color:orangered;">Satışlar</a></td>
            </tr>
        }
    }

</table>
