@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Hareketler</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.SatisId</td>
                <td>@item.Uruns.UrunAd</td>
                <td>@item.Carilers.CariAd @item.Carilers.CariSoyadi</td>
                <td>@item.Personels.PersonelAd @item.Personels.PersonelSoyad</td>
                <td>@item.Adet</td>
                <td>@item.Fiyat</td>
                <td>@item.ToplamTutar</td>
                <td>@item.Tarih</td>
                <td><a href="/Personel/PersonelGetir/@item.SatisId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Departman/DepartmanPersonelSatis/@item.SatisId" class="btn btn-info">Detay</a></td>
            </tr>
        }
    }
</table>
<a href="/Satis/YeniSatis" class="btn btn-success">Yeni Satış Yap</a>

