@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cari Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CariAd)
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariSoyadi)
    @Html.TextBoxFor(x => x.CariSoyadi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariSehir)
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariMail)
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Ekle</button>
</form>

